
  <nav>
    <div class="container">
        <div class="nav_flex">
            <div id="menu_container"></div>
            <div class="logo" href="/">
              <a class="text-xl text-gray-800 font-bold  items-cente font-mono" href="/">DIOR</a>
            </div>
            <menu id="menu">
                <div class="text-end">
                    <button id="close_btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="menu_flex">
                  <form class="flex  lg:mr-0" method="get" action="/">
                    <input class="form-input bg-inherit rounded-sm text-black w-full lg:w-64 mr-3 px-3 py-2 focus:outline-none" name="search" type="search" value="{{ request.GET.search }}" placeholder="Search" aria-label="Search">
                    <button class="btn-primary rounded-lg bg-violet-50 px-4 py-2" type="submit">Search</button>
                  </form>                
                    <div class="item"><a href="#">Blog</a></div>
                    <div class="item"><a href="#">Contact</a></div>
                    <div class="item"><a href="#">About</a></div>
                </div>
            </menu>
            <button id="open_btn"><i class="fa-solid fa-bars"></i></button
        </div>
    </div>
</nav>

<script>
    const menu = document.querySelector('#menu')
    const menu_container = document.querySelector('#menu_container')
    const close_btn = document.querySelector('#close_btn')
    const open_btn = document.querySelector('#open_btn')



    const toggle_menu = () => {
        menu.classList.toggle('active')
        menu_container.classList.toggle('active')
    }

    close_btn.addEventListener('click', toggle_menu)
    open_btn.addEventListener('click', toggle_menu)
    menu_container.addEventListener('click', toggle_menu)

</script>

 