


 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FFBA00;
    --body-font: "Montserrat", sans-serif;
    --text-color: #111;
    --accent-text-color: #000000;
    --background-color: #FFF;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    /* background-color: var(--background-color); */
    color: var(--text-color);
}

.container {
    width: 85%;
    margin: 0 auto;
    /* max-width: 1280px; */
}

.nav_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
}

nav{
    color: var(--accent-text-color);
}


nav .logo a{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
}

menu {
    padding: 0;
    margin: 0;
}

menu .menu_flex {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
}

menu .item.aclass {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .3s;
    font-size: 1.2rem;
    font-weight: 500;
}


menu .item a:hover {
    border-color: var(--accent-text-color);
}

#open_btn {
    border: 1px solid var(--background-color);
    background-color: transparent;
    color: var(--accent-text-color);
    padding: 5px 7px;
    font-size: 1.3rem;
    display: none;
    cursor: pointer;
    transition: .3s;
}

#open_btn:hover {
    background-color: var(--accent-text-color);
    color: var(--primary-color);
}

#close_btn {
    display: none;
    border: 0;
    background: transparent;
    font-size: 1.6rem;
    color: var(--accent-text-color);
    cursor: pointer;
    padding: 10px 40px 30px 5px;
}

.text-end {
    text-align: end;
}

#menu_container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.user-profile {
    position: relative;
}

.logout-block {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.user-profile:hover .logout-block {
    display: block;
}

@media screen and (max-width: 762px) {
    .login{
        margin-top: 15px;
        font-size: large;
        display: flex;
        align-items: start;
        margin-right: 100px;
    }
    .create_product{
        display: block;
    }
    
    menu {
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        background-color: rgba(1, 1, 1, .5);
        backdrop-filter: blur(2px);
        width: 70%;
        padding: 10px 40px;
        transition: .25s linear;
        z-index: 3;
    }

    menu.active {
        right: 0;
    }

    menu .menu_flex {
        flex-direction: column;
        padding-block: 40px;
        justify-content: space-evenly;
        height: 19vh;
    }

    #open_btn {
        display: inline;
    }

    #close_btn {
        display: inline;
    }

    #menu_container.active {
        display: block;
    }
    #swip_menu{
        margin-left: 226px;
    }
   


}


#menu1{
    margin-top:17px;
}
.text-end {
    text-align: end;
}

.modal_container .modal_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    z-index: -1;
    transition: .25s linear;
}

.modal_container .modal_card {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 10px;
    z-index: 100;
    height: fit-content;
    background-color: #fff;
    max-width: 400px;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    transform: scale(0);
    transition: .25s linear;
}


.modal_container.active .modal_backdrop {
    z-index: 99;
    opacity: 1;
}

.modal_container.active .modal_card {
    transform: scale(1);
}
