{% extends 'workspace/base.html' %}



{% block content %}


<div class="max-w-lg mx-auto bg-white p-8 rounded-md shadow-md border-4 border-4 border-black">
<h2 class="mb-5 text-xl text-gray-800 font-bold font-mono flex place-content-center ">Create news</h2>
  
    <form action="{% url 'create_products' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <input name="title" placeholder="Заголовок" type="text" class="border border-current rounded-none p-2 form-input border-gray-300 block w-full rounded-md focus:ring-indigo-500 focus:border-indigo-500 "  required>
        </div>
        <div class="mb-4">
            <input name="price" placeholder="Цена" type="number" class="border border-current rounded-none p-2 form-input border-gray-300 block w-full rounded-md focus:ring-indigo-500 focus:border-indigo-500" required>
        </div>

        <div class="mb-4">
            <input name="image" placeholder="Изображение" type="file" class="form-input border-gray-300 block w-full rounded-md focus:ring-indigo-500 focus:border-indigo-500" required>
        </div>

        <div class="mb-5">
            <textarea name="content" placeholder="Контент" class="border border-current rounded-none p-2 form-textarea border-gray-300 block w-full rounded-md focus:ring-indigo-500 focus:border-indigo-500" rows="5" required></textarea>
        </div>
        <div class="mb-4 flex items-center">
            <input type="checkbox" id="checkbox_is_published" name="is_published" class="form-checkbox h-5 w-5 text-indigo-600"><label for="checkbox_is_published" class="ml-2 text-gray-700" required>Is Published</label>
        </div>
        <div class="mb-5">
            <select name="category" class="form-select border-gray-300 block w-full rounded-md focus:ring-indigo-500 focus:border-indigo-500 "required>
                <option selected disabled>Select category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-5">
            <select name="tags" multiple class="form-select border-gray-300 block w-full rounded-md focus:ring-indigo-900 focus:border-indigo-900 "required>
                <option selected disabled>Select tags</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-5">
            <button type="submit" class="bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded w-full">Create</button>
        </div>
    </form>
</div>

{% endblock content %}
  