{% extends 'workspace/base.html' %}

{% block content %}

<div class="container mx-auto px-6 mt-5">
    <div class="flex flex-col lg:flex-row gap-5 lg:justify-between">
        <div class="w-full lg:w-3/4">
            <div class="create_product lg:flex justify-between content-center mb-5">
                <h2 class="mb-5  text-xl text-gray-800 font-bold font-mono">Добро пожаловать в рабочую область</h2>
                <div><a class=" bg-slate-800 text-white p-2 font-serif text-white font-mono rounded-full " href="{%  url 'create_products' %}" >Создать продукт</a></div>
            </div>
                <div class="flgrid grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4  gap-6 mt-4">
                    {% for post in products %}
                    <div class="rounded-lg shadow-md hover:shadow-lg dark:hover:shadow-slate/800 p-6 hover:border-2 relative overflow-hidden transition-transform transform hover:scale-105">
                        <div class="relative group">
                            <img src="{{ post.image.url }}" alt="" class="duration-300 ease-in-out group-hover:opacity-0">
                            <img src="{{ post.image.url }}" alt="" class="absolute inset-0 w-full h-full object-cover opacity-0 group-hover:opacity-100">
                        </div>
                        <h3 class="font-mono text-black text-center p-3">DIOR</h3>
                        <a href="{% url 'consistproduct' id=post.id %}" class="mt-4 text-blue-500 hover:no-underline"><h5 class="text-center text-gray-600">{{ post.title }}</h5></a>
                        <p class="text-center text-red-600">{{ post.price }} COM </p>
                        <div class="mt-7 flex space-x-4 items-center">
                            <a href="{% url 'consistproduct' id=post.id %}" class="btn btn-primary p-2  bg-slate-900 font-mono  text-white rounded">Посмотреть</a>
                            <a href="{% url 'update_product' id=post.id %}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                            <a href="{% url 'delete_product' id=post.id %}" class="btn btn-danger"><i class="fa-regular place-content-center fa-trash-can fa-lg"></i></a>

                        </div>
                        
                    </div>
                    {% endfor %}
                </div>

                <h1></h1>
        {% include 'components/product_pagination.html' %}

        </div>


        <div class="flex-grow lg:mr-6 mt-20 mb-6 lg:mb-0 bg-slate-100">
            <ul class="grid grid-cols-1 lg:grid-cols-none gap-6">
                {% include 'components/sidebar.html' %}
            </ul>
    </div>
</div>


{% endblock content %}
