{% extends 'base.html' %}

{% block content %} 
<div class=" container mx-auto  w-full lg:w-3/4">
    <h2 class="text-xl font-semibold text-gray-800">Женшинам</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-4">
        {% for post in product %}
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="relative">
                <img src="{{ post.image.url }}" alt="" class="w-full">
                <img src="{{ post.image.url }}" alt="" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300 ease-in-out opacity-0 hover:opacity-100">
            </div>
            <h3 class="font-mono text-black text-center p-3">DIOR</h3>
            <a href="{% url 'consistproduct' id=post.id %}" class="mt-4 text-blue-500 hover:no-underline"><h5 class="text-center text-gray-600">{{ post.title }}</h5></a>
            <p class="text-center text-red-600">{{ post.price }} COM </p>
            
            <p class="text-center text-gray-600">
                {% for tag in post.tags.all %}
                <span>{{ tag.name }}</span> /
                {% endfor %}
            </p>

        </div>
    {% endfor %}

    </div>
    {% include 'components/product_pagination.html' %}
    
</div>
{% endblock %}




{% block script %}
<script>
    document.querySelectorAll('.hover\:opacity-0').forEach(img => {
        img.addEventListener('mouseenter', () => {
            img.style.opacity = '0';
            img.nextElementSibling.style.opacity = '1';
        });
        img.addEventListener('mouseleave', () => {
            img.style.opacity = '1';
            img.nextElementSibling.style.opacity = '0';
        });
    });
</script>

{% endblock script %}
