<div class="container mx-auto px-6 mt-10">
   <div class="border-y-2 border-mt-5  border-black">
        <span class="font-bold mb-16 text-xl">Дополнительная информация</span>
      
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 mt-8  p-10">
            <div class="flex flex-col text-zinc-500">
                <h2 class="text-slate-800 font-bold">Полезные ссылки</h2>
                <a href="#">Узнать размер</a>
                <a href="#">Ткани и уход за ними</a>
                <a href="#">Инструкции</a>
                <a href="#">Гарантии</a>
                <a href="#">Бренды по странам</a>
                <a href="#">Акции и скидки</a>
            </div>
            <div class="flex flex-col text-zinc-500">
                <h2 class="text-slate-800 font-bold">Услуги</h2>
                <a href="#">Подарочный сертификат</a>
                <a href="#">Программа лояльности кешбэк</a>
                <a href="#">Программа "Приведи друга"</a>
            </div> 
            
            <div class="flex flex-col text-zinc-500">
                <h2 class="text-slate-800 font-bold">Онлайн покупки</h2>
                <a href="#">Оплата</a>
                <a href="#">Доставка</a>
                <a href="#">Условия продажи</a>
                <a href="#">Условия возврата</a>
                <a href="#">Конфиденциальность</a>
                <a href="#">Публичная оферта бонусной</a>
                <a href="#">программы</a>
                <a href="#">Публичная оферта</a>
            </div> 
            
            <div class="flex flex-col text-zinc-500">
                <h2 class="text-slate-800 font-bold" >О компании</h2>
                <a href="#">О нас</a>
                <a href="#">История</a>
                <a href="#">Контакты</a>
                <a href="#">Отзывы</a>
                <a href="#">Работа у нас</a>
                <a href="#">Наш блог</a>
                <a href="#">Пункт выдачи в Ош</a>
                <a href="#">СМИ о нас</a>
            </div>

            <div class="flex flex-col text-zinc-500">
                <h2 class="text-slate-800 font-bold" > Наши партнеры</h2>
                <img class="w-24 pt-5" src="media\mob_images\Yandex_logo_2021_Russian.svg.png" alt="">
            </div>

        </div>
   </div>
</div>