{% load static %}
  <nav class="nav1">
    <div class="container mx-auto px-6 bg-slate-800">
        <div class="nav_flex p-2">
            <div id="menu_container"></div>
            <div class="logo" href="/">
              <a class="text-xl text-white font-bold items-center font-sans" href="/">DIOR</a>
              {% for category in cats %}
              <li class="hover:text-white hover:font-bold hover:bg-gray-800 active:bg-gray-800 focus:outline-none focus:ring-violet-300 border-gray-800 border-2 border-gray-300 rounded-full p-2">
                  <a class="text-decoration-none hover:text-white hover:font-bold block" href="{% url 'datails_category' cat_id=category.id %}">{{ category.name }}</a>
              </li>
          {% endfor %}
            </div>
            <menu id="menu">
                <div class="text-end">
                    <button id="close_btn"><i class="fa-brands fa-x-twitter" style="color:#ffff"></i></button>
                </div>
                <div class="menu_flex">
                  <form class="flex  lg:mr-0" method="get" action="/">
                    <input class="form-input border border-t-2  bg-inherit rounded-lg text-white w-full lg:w-64 mr-3 px-3 py-2 focus:outline-none" name="search" type="search" value="{{ request.GET.search }}" placeholder="Поиск" aria-label="Search">
                    <button class="btn-primary rounded-lg px-4 py-1 bg-slate-800 text-white font-bold" type="submit">Поиск</button>
                  </form>                
                  {% if request.user.is_authenticated %}
                      <button id="swip_menu">
                        <div class=" relative group p-2 focus:outline-none">
                          <a class="text-white font-bold" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username }}
                          </a>
                          <div id="menu1" class="mt-17 opacity-0 group-hover:opacity-100 absolute right-0 bg-white w-52 border border-t-1 z-10">
                            <section class="py-2 border-b">
                              <ul>
                                <li>
                                  <a class="flex items-center px-4 py-2 text-sm hover:bg-gray-100" href="{% url 'workspace' %}">Рабочая среда</a>
                                </li>
                                <li>
                                  <a class="flex items-center px-4 py-2 text-sm hover:bg-gray-100"  href="{% url 'logout' %}">Выйти</a>
                                </li><li>
                                  <a class="flex items-center px-4 py-2 text-sm hover:bg-gray-100"  href="{% url 'change_profile' %}">Профил</a>
                                </li>
                              </ul>
                            </section>
                          </div> 
                        </div>
                      </button> 
                      <section class="py-2 mt-5 desktop">
                        <ul>
                          <li class="pt-5 ">
                            <a class="text-white font-bold toggle_modal" href="{% url 'workspace' %}">Рабочая среда</a>
                          </li>
                          <li class="pt-5 ">
                            <a class="mt-5 text-white font-bold toggle_modal"  href="{% url 'logout' %}">Выйти</a>
                          </li>
                          <li class="pt-5 ">
                            <a class="mt-5 text-white font-bold toggle_modal"  href="{% url 'change_profile' %}">Профиль</a>
                          </li>
                        </ul>
                      </section>
                                               
                 
                  {% else %}                                                                                                                                                                                
                  <div class="login">
                    <div class="grid gap-5 hidden-on-desktop">
                      <a data-modal_id="modal_1" class="text-white font-bold toggle_modal" aria-current="page" href="{% url 'login' %}">Войти</a>
                      <a aria-current="page"  class="text-white font-bold toggle_modal" href="{% url 'register' %}">Регистрация</a>
                    </div>
                  </div>
                  
                      
                      <div class="btn1 flex gap-4">
                        <div class="btn1 hover:bg-slate-600 rounded-md "> 
                          <a href="#popup" class="open-modal hover:bg-slate-600 rounded-md"><img src="{% static 'moobile/assets/svg/human.svg' %}" alt="" class="w-10 h-10 p-2 "></a>
                        </div>
                      <div class="hover:bg-slate-600 relative rounded-md">
                        <a href=""><img id="favoriteIcon1" src="{% static 'moobile/assets/svg/like.svg' %}" alt="" class="w-10 h-10 p-2 "></a>
                        <div id="favoriteCount" class="absolute top-4 right-[-2px] text-white"></div>
                      </div>
                        <div class="hover:bg-slate-600 rounded-md">
                          <a href=""><img src="{% static 'moobile/assets/svg/basket.svg' %}" alt="" class="w-10 h-10 p-2 "></a>
                        </div>
                      </div>
                     
                     
                      
                  {% endif %}

                </div>
            </menu>
            <button id="open_btn"><i class="fa-solid fa-layer-group" style="color: #ffff;"></i></button>
          </div>
    </div>
</nav>

<style>


@media (min-width: 767px) {
  .login{
    display: block;
  }
  .hidden-on-desktop {
    display: none; 
  }
  .shown-on-desktop {
    display: block; 
  }
  .desktop {
    display: none; /* Скрывать секцию на широких экранах */
  }
}



  @media (max-width: 767px){
    .btn1{
      display: none;
    }
    #swip_menu{
      display: none;
    }
  }
</style>
<script>
    const toggleModals = document.querySelectorAll('.toggle_modal')
    
    const toggleModalWin = (toggleModal) => {
        const modalWinId = toggleModal.dataset.modal_id // modal_1
        const modalWin = document.querySelector(`#${modalWinId}`)
        modalWin.classList.toggle('active')
    }

    for (const toggleModal of toggleModals) {
        toggleModal.addEventListener('click', e => toggleModalWin(toggleModal))
    }


    const menu = document.querySelector('#menu')
    const menu_container = document.querySelector('#menu_container')
    const close_btn = document.querySelector('#close_btn')
    const open_btn = document.querySelector('#open_btn')



    const toggle_menu = () => {
        menu.classList.toggle('active')
        menu_container.classList.toggle('active')
    }

    close_btn.addEventListener('click', toggle_menu)
    open_btn.addEventListener('click', toggle_menu)
    menu_container.addEventListener('click', toggle_menu)

    
</script>

 