{% if products.has_other_pages %}
<nav class=" justify-center flex mt-8">
    <ul class="pagination flex p-4 rounded-lg space-x-5 justify-center items-center">
        {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link btn btn-primary btn-lg" href="?page={{ products.previous_page_number }}">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </li>
        {% endif %}

        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active">
                    <span class="page-link btn  btn-primary btn-lg text-white  bg-slate-800 p-2 rounded-full">{{ i }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link btn btn-primary btn-lg  bg-gray-200 p-2 rounded-full" href="?page={{ i }}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link btn btn-primary btn-lg" href="?page={{ products.next_page_number }}">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}