{% extends 'workspace/base.html' %}
{% load static %}

{% block title %}| Change Password{% endblock title %}

{% block content %}

    <style>

        #change_password_form ul {
            list-style: none;
            margin: 0;
            padding: 0;
            color: red;
        }

    </style>

    <div class="p-5 d-flex mt-5 justify-content-center align-items-center" style="min-height: 80vh">
        <div class="max-w-lg mx-auto mt-21 border-2">
            <div class="bg-white p-8 rounded shadow-md ">
                <form action="{% url 'change_password' %}" id="change_password_form" method="POST" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button type="submit" class="bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded w-full">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}