{% extends 'workspace/base.html' %}
{% load static %}

{% block title %}| Login{% endblock title %}

{% block content %}
    <div class="wrapper max-w-lg mx-auto">
            <div class="title bg-slate-800">
                 Войти 
            </div>
            <form action="{% url 'login' %}" id="login_form" method="POST" novalidate>
                <p class="mt-4  text-gray-800  font-sans">Введите имя пользователя и пароль для входа.</p>

                {% csrf_token %}
                <div class="mt-7 ">
                    {{ form.username }}
                    <div class="text-red-500">
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="mb-4">
                    {{ form.password }} 
                    <div class="text-red-500">
                        {{ form.password.errors }}
                    </div>
                </div>
                <div>
                    <button type="submit" class="bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4  rounded-full w-full">Войти</button>
                </div>
    
                {% if message %}
                
                <div class="mt-4 text-red-500 text-center">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <style>
        .wrapper {
            width: 450px;
            background: #fff;
            border-radius: 15px;
            box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
        }
        
        .wrapper .title {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            line-height: 100px;
            color: #fff;
            user-select: none;
            border-radius: 15px 15px 0 0;
            background: #2d3748;
        }
        
        .wrapper form {
            padding: 10px 30px 50px 30px;
        }
        
        @media(max-width: 762px) {
            .wrapper {
                width: 350px;
            }
        }
        </style>
        
{% endblock content %}
